.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff; /* Couleur de fond */
  color: white;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* Ajustez la taille selon vos préférences */
  margin-right: 10px;
}

.app-name {
  font-size: 1.5rem; /* Ajustez la taille selon vos préférences */
}

.actions {
  display: flex;
  align-items: center;
}

.notifications {
  position: relative;
  margin-right: 20px;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.profile {
  cursor: pointer;
  margin-right: 20px;
}

.logout-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .actions {
    margin-top: 10px;
    justify-content: flex-start;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .app-name {
    font-size: 1.2rem; /* Ajustez la taille pour mobile */
  }
}