.orange-card {
  background-color: #ff7f0e;
  color: white;
  transition: transform 0.2s ease-in-out;
}
.orange-card:hover {
  transform: scale(1.02);
}

.green-card {
  background-color: #28a745;
  color: white;
  transition: transform 0.2s ease-in-out;
}
.green-card:hover {
  transform: scale(1.02);
}

.purple-card {
  background-color: #6f42c1;
  color: white;
  transition: transform 0.2s ease-in-out;
}
.purple-card:hover {
  transform: scale(1.02);
}

.yellow-card {
  background-color: #ffc107;
  color: white;
  transition: transform 0.2s ease-in-out;
}
.yellow-card:hover {
  transform: scale(1.02);
}

.text-orange {
  color: #ff7f0e;
}
